@{
    ViewBag.Title = "wBaH";
}
<script>
    $(document).ready(function () {
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
</script>
<div class="" id="loginModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Have an Account?</h3>
    </div>
    <div class="modal-body">
        <div class="well">
            <ul class="nav nav-tabs">
                <li class="active"><a  href="@Url.Action("Login", "Account")" data-toggle="tab">Login</></li>
                <li><a href="@Url.Action("Register", "Account")" data-toggle="tab">Create Account</a></li>
            </ul>
        </div>
    </div>
</div>
